%h1= t('.title', name: @location.name)
= link_to t('.ports'), location_ports_path(@location)

- @location.ports.each do |port|
  %h2
    = port.name
    %small= port.metric.current

  %div.remote-chart{data: { url: metric_path(port.metric) }}
